{% extends "base.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>Wombology</h1>
        <p class="lead">I Wambo, you  wambo,  he  she  me  wambos, wombology,  the  study  of  wambo. It's first     grade,     Spongebob!</p>
        <p><a class="btn btn-lg btn-success" href="{{ path_for('signUp') }}" role="button">Sign up today</a></p>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}