{% extends "base.twig" %}

{% block content %}

    <h1>SignUp</h1>

    <form>
        <label>Name:
            <input type="text" name="email" value="" />
        </label>
    </form>

{% endblock %}

{% block javascript %}
{% endblock %}