{% extends "base.twig" %}

{% block content %}

    <h1>Cart</h1>

    <div id="cart_content">
        <table>
            <tr><th>SKU</th><th>Qty</th></tr>
        </table>
    </div>
{% endblock %}

{% block javascript %}

    <script>
        $(cart.items).each(function(index, item){
            $("#cart_content table").append(
                    '<tr>' +
                    '<td>' + item.sku +  '</td>' +
                    '<td>' + item.qty +  '</td>' +
                    '</tr>'
            );
        });
    </script>
{% endblock %}