{% extends "base.twig" %}

{% block content %}

    <h1>Cart</h1>

    <div id="cart_content">
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $.post("cart/content", {"cart":JSON.stringify(cart)}, function( content ) {
            $( "#cart_content" ).html( content );
        });
    </script>
{% endblock %}